/* ======================================= Icomoon Font ======================================= */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic';
@font-face {
    font-family: 'icomoon';
    src:url('../assets/icomoon.eot');
    src:url('../assets/icomoon-1.eot') format('embedded-opentype'),
        url('../assets/icomoon.ttf') format('truetype'),
        url('../assets/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ======================================= Helvetica Neue Cyr Light Font ======================================= */
/*
@font-face {
    font-family: 'helveticaneuecyrlight';
    src:url('../fonts/helveticaneuecyr_light-webfont.eot');
    src:url('../fonts/helveticaneuecyr_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr_light-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr_light-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr_light-webfont.ttf') format('truetype'),
        url('../fonts/helveticaneuecyr_light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* ======================================= Helvetica Neue Cyr Ultra Light Font ======================================= */
/*

@font-face {
    font-family: 'helveticaneuecyrultralight';
    src:url('../fonts/helveticaneuecyr_ultralight-webfont.eot');
    src:url('../fonts/helveticaneuecyr_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr_ultralight-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr_ultralight-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr_ultralight-webfont.ttf') format('truetype'),
        url('../fonts/helveticaneuecyr_ultralight-webfont.svg#helveticaneuecyrultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

/* ======================================= Helvetica Neue Cyr Thin Font ======================================= */
/*
@font-face {
    font-family: 'helveticaneuecyrthin';
    src:url('../fonts/helveticaneuecyr_thin-webfont.eot');
    src:url('../fonts/helveticaneuecyr_thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr_thin-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr_thin-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr_thin-webfont.ttf') format('truetype'),
        url('../fonts/helveticaneuecyr_thin-webfont.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* ======================================= Helvetica Neue Cyr Roman Font ======================================= */
/*
@font-face {
    font-family: 'helveticaneuecyrroman';
    src:url('../fonts/helveticaneuecyr_roman-webfont.eot');
    src:url('../fonts/helveticaneuecyr_roman-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr_roman-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr_roman-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr_roman-webfont.ttf') format('truetype'),
        url('../fonts/helveticaneuecyr_roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* ======================================= Helvetica Neue Cyr Roman Font ======================================= */
/*

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src:url('../fonts/helveticaneuecyr_medium-webfont.eot');
    src:url('../fonts/helveticaneuecyr_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr_medium-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr_medium-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr_medium-webfont.ttf') format('truetype'),
        url('../fonts/helveticaneuecyr_medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}*/